.student-owner > h1 {
    color: blueviolet;
    background-color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.student-owner > p {
    color: green;
    background-color: darkorange;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.student-contributor>p{
    color: chartreuse;
    background-color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}